.heart-icon-container {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #e4c1c1;
  display: flex;
  justify-content: center;
  align-items: center;
}

img{
  height: 380px;
  object-fit: cover;
}
.card{
  height: 450px;
  border: none;
}





