.container{;
  margin-top: 120px;
}

.img-principal{
    height: 400px;
    object-fit: contain;
    width: 400px;
}

.img-secundaria{
  height: 100px;
  object-fit: contain;
  width: 100px;
}

h2{
  font-size: 22px;
}


