header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  height: 100px;
}


h1 {
  color: transparent;
  font-weight: 700;
  padding-bottom: 3px;
  letter-spacing: -0.015em;
  background-image: linear-gradient(180deg, #cc4817, #17587c);
  background-clip: text;
  -webkit-background-clip: text;
}
