<div class="container-fluid mt-5 bg-light border-top border-1">
<footer>
  <div class="container pt-3">
    <div class="row justify-content-around">
      <div class="col-3 text-center">
        <h4>PaperStreet Vintage</h4>
        <p>Tienda con amplia selección de ropa y accesorios vintage únicos y exclusivos.</p>
      </div>
      <div class="col-3 text-center">
        <h4>Horario de atención</h4>
        <p>Lunes a viernes: 10:00 - 20:00<br>Sábados: 10.00 - 15:00<br>Domingos: Cerrado</p>
      </div>
      <div class="col-3 text-center">
        <h4>Contacto</h4>
        <p>Calle Albacete, 15<br>Valencia, España 46007<br>Teléfono: 676 767 564<br>Email: info@paperstreetvintage.com</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12 pb-3">
        <p>&copy; 2023 PaperStreet Vintage. Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
</div>
